<section class="topBar">    
    <div class="logoContainer topBarComponent">
        <a href="/"><img src="/images/landing-page-images/losnanos.png" alt="logo" class="siteLogo"></a>
    </div>

    <div class="leftSide">
        <label for="chkSearchBoxTrigger" class="searchBoxTriggerLabel topBarComponent"><p class="searchBoxTrigger"><i class="fas fa-search"></i></p></label>        
        <input type="checkbox" name="" id="chkSearchBoxTrigger">
       
        <div class="searchBoxContainer topBarComponent">
            <input type="text" name="searchBox" id="seachBoxInput" class="searchBoxInput searchBoxText" placeholder="search...">
            <p class="searchBoxText"><i class="fas fa-search"></i></p>
        </div>

        <div class="userAuthentication topBarComponent" >
            <a href="/users/profile"><p class="topBarImage userLogo"><i class="far fa-user"></i></p></a>
            <% if(locals.loggedIn) {%>
                <a href="/users/logout" class="authentication-msg">Log out</a>
            <%} else {%>                
                <a href="/users/signup" class="authentication-msg">Sign up</a>
                <a href="/users/login" class="authentication-msg">Sign in</a> 
            <%}%>
        </div>

        <div class="cartContainer topBarComponent">
            <div class="howManyProducts">1</div>
            <a href="/users/cart" class="topBarImage shopping-bag"><i class="fas fa-shopping-bag"></i></a>
        </div>
    </div>
</section>
<input type="checkbox" name="mobileMenuCheckbox" id="mobileMenuCheckbox" />
<label for="mobileMenuCheckbox" id="mobileMenuToggleLabel"><span class="mobileMenu"></span></label>
<div class="separator"></div>