<%- include('./includes/start') %>
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <%- include('./includes/topNav') %>
    <h1 class="pageTitle"><%= adminUser === true ? 'admin' : 'user'%> Login Page</h1>

    <%if(locals.newUserCreated) {%>
        <h5 class="pageTitle">Registeration done, Log in to personlize you experience</h4>
    <%} else {%>
        <h5 class="pageTitle">or <a href="/signup">Sign Up</a></h4>
    <%}%>

    <form action="" method="post" class="userLoginForm">
        <section class="fieldContainer">
            <label for="userName" class="formLabel">User name</label>
            <input type="text" name="userName" id="userName" class="formInput">
        </section>
        <section class="fieldContainer">
            <label for="password" class="formLabel">Password</label>
            <input type="password" name="password" id="password" class="formInput">
        </section>

        <section class="fieldContainer">
            <%if(locals.userNotFound) {%>
                <h5 class="pageTitle errorMsg">Email/Password or both not correct!!</h4>
            <%}%>
        </section>

        <button class="formBtn formInput">Submit</button>

        <% if(!adminUser) {%>
            <section class="otherLoginOps">
                <p class="loginOpsText">Login with following</p>
                    
                <section class="otherLoginOpsContainer centerFlex">
                    Google
                </section>
            </section>
        <%}%>
    </form>
    <%- include('./includes/footer') %>
</body>
</html>