<%- include('./includes/start') %>
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <%- include('./includes/topNav') %>
    <h1 class="pageTitle"><%= adminUser === true ? 'admin' : 'user'%> Login Page</h1>

    <h5 class="pageTitle">Or  <a href="/signup">register</a> with us</h6>
    <form action="" method="post" class="userLoginForm">
        <section class="fieldContainer">
            <label for="username" class="formLabel">User name</label>
            <input type="text" name="username" id="username" class="formInput">
        </section>
        <section class="fieldContainer">
            <label for="password" class="formLabel">Password</label>
            <input type="password" name="password" id="password" class="formInput">
        </section>
        <button class="formBtn formInput">Submit</button>

        <% if(!adminUser) {%>
            <section class="otherLoginOps">
                <p class="loginOpsText">Login with following</p>
                    
                <section class="otherLoginOpsContainer centerFlex">
                    Google
                </section>
            </section>
        <%}%>
    </form>
    <%- include('./includes/footer') %>
</body>
</html>