<%- include('./includes/start.ejs') %>
<link rel="stylesheet" href="/css/categories.css">
</head>
<body>
    <%- include('./includes/topNav') %>

    <main class="mainContainer">
        <%=product%>
    </main>

    <%- include('./includes/footer') %>
</body>
</html>