<%- include('./includes/start') %>

</head>
<body>
    <%- include('./includes/topNav') %>
    <h1>Login Page</h1>
    <form action="" method="post" class="logForm">
        <label for="" class="formLabel">User name</label>
        <input type="text" name="" id="" class="formInput">
    </form>
    <%- include('./includes/footer') %>
</body>
</html>