.adminMenuList {
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 10px auto;
    background-color: var(--pearl-white);
    color: var(--my-blue);
}

.adminMenuList__link {
    padding: 10px;
    color: var(--my-blue);
    text-transform: capitalize;
    box-sizing: border-box;
}
.adminMenuList__link:hover {
    background-color: var(--my-blue);
    color: var(--light-gray);
}

.title,
.activityHeader {
    color: var(--my-blue);
    text-align: center;
    padding: 10px;
    margin: 10px auto;
}

.activityList {
    list-style: none;
    min-height: 50vh;
    width: 80vw;
    margin: 10px auto;
    padding: 30px;
    border: 2px solid var(--creamy-purple-dark);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.activityList__item {
    width: 45%;
}
.activityList__link {
    width: 260px;
    text-decoration: none;
    text-transform: uppercase; 
    text-align: center;
    vertical-align: middle; 
    color: var(--creamy-purple-dark);
    font-size: 1.2em;
    padding: 10px;
    margin: 30px;
    border: 2px solid pink;
    border-radius: 5px;
}
.activityList__link:hover {
    background-color: var(--creamy-purple-dark);
    color: var(--pearl-white);
    box-shadow: 0px 0px 10px var(--creamy-purple);
}

.itemList {
    margin: 10px auto;
    width: 90%;
}
.itemList__item {
    border-bottom: 1px solid var(--my-blue);
    padding: 10px;
    margin: 10px auto;
    border: 2px solid var(--creamy-purple-dark);
    padding: 10px;
}
.listProps {
    display: flex;
    align-items: center;
}
.sectionName {
    background-color: var(--my-blue);
    color: var(--light-gray);
    justify-content: flex-start;
    padding: 10px;
    min-width: 150px;
    margin: 5px 0;
}
.sectionValue {
    color: var(--my-blue);
    background-color: var(--light-gray);
    padding: 10px;
    width: 100%;
    text-transform: capitalize;
}


@media only screen and (min-width: 800px) {

}