form,
.formTypeContainer {
    padding: 10px;
    margin: 10px auto;
    border: 2px solid var(--creamy-purple);
    border-radius: 5px;
    background-color: var(--pearl-white);    
    box-shadow: 0px 0px 10px var(--light-purple);
}

.contactUsForm {
    margin: 20px auto;
}

.newProductForm {
    width: 90%;
}

textarea {
    resize: none;
    overflow: auto;
}


.dropDownContainer { 
    text-transform: capitalize;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--pearl-white);
    border-radius: 5px;
}

.adminDropDown {
    min-width: 150px;
    text-transform: capitalize;
}
.selectOption {
    text-transform: capitalize; 
}

.fieldContainer {
    margin-bottom: 10px;
}

.formLabel {
    padding: 10px 0px 10px;
    color: var(--my-blue);
    font-weight: bold;
    letter-spacing: 1px;
    min-width: 100px;
}
.formInput {
    text-transform: capitalize;
    padding: 10px;
    border: 1px solid var(--creamy-purple-dark);
    border-radius: 5px;
    width: 100%;
    color: var(--creamy-purple);
}
.formInput:focus {
    background-color: var(--creamy-purple);
    color: var(--pearl-white);
    outline: pink;
}

.formBtn {
    width: 45%;
    display: block;  /* Needs to be block-element for margin: auto to center the element */
    margin: 20px auto 10px;
    color: var(--pearl-white);
    border-width: 2px;
    background: var(--creamy-purple-dark);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.formBtn:hover {
    border-width: 2px;
    color: var(--creamy-purple-dark);
    background: var(--pearl-white);
    outline-color: pink;    
}

@media only screen and (min-width: 800px) {
    .contactUsForm,
    .newCategoryForm {
        margin: 20px auto;
        width: 60%;
    }
}

