<label for="selectQty" class="formLabel">Select Quantity</label>
<select name="selectQty" id="selectQty" class="formInput">
    <%for(let i = 1; i <= 6; i++) {%>
        <option class="selectOp" value="<%=i%>"><%=i%></option>
    <%}%>
</select>