<section class="dropDownContainer">
    <label for="category" class="formLabel">Category</label>    
    <select name="category" id="prodCategory" class="formInput catSelection" required>
        <option value="clothes" selected class="selectOption">Clothes</option>
        <option value="shoes" class="selectOption">Shoes</option>
        <option value="accessories"  class="selectOption">accessories</option>
        <option value="ethnic"  class="selectOption">ethnic</option>
    </select>
</section>
