<section class="dropDownContainer">
    <label for="type" class="formLabel">Type</label>    
    <select name="category" id="prodType" class="formInput typeSelection" required>
    
    </select>
</section>