<section class="dropDownContainer">
    <label for="category" class="formLabel centerFlex">Category</label>    
    <select name="category" id="prodCategory" class="formInput catSelection adminDropDown" required>    
        <% topMenu[0].subCats.forEach( (menu, index) => {%>
            <% let opSelected = (index === 0) ? 'selected' : '' %>
            <option value="<%=menu.name%>"  class="selectOption"<%=opSelected%> ><%=menu.name%></option> 
        <%}) %>       
    </select>
</section>
