<section class="dropDownContainer">
    <label for="audience" class="formLabel centerFlex">audience</label>
    <select name="audience" id="prodAudience" class="formInput audienceSelection adminDropDown" required>
        <option value="male" selected>Boys</option>
        <option value='female'>Girls</option>
    </select>
</section>