<section class="dropDownContainer">
    <label for="gender" class="formLabel">Gender</label>
    <select name="gender" id="prodGender" class="formInput genderSelection" required>
        <option value="male" selected>Boys</option>
        <option value='female'>Girls</option>
    </select>
</section>