<ul class="adminMenuList">
    <li class="adminMenuList__item"><a href="/admin" class="adminMenuList__link">Admin Home</a></li>
    <li class="adminMenuList__item"><a href="/admin/manageUsers" class="adminMenuList__link">Manage users</a></li>
    <li class="adminMenuList__item"><a href="/admin/manageProducts" class="adminMenuList__link">Manage products</a></li>
</ul>